    .not-visible {
        visibility: hidden;
    }
    
    body {
        font-family: Helvetica Neue, Helvetica, Arial;
    }
    
    .car {
        /*background-color: #6699ff;*/
        color: #eee;
    }
    
    .car-container {
        border: 1px solid #999;
        margin: 10px;
        padding: 12px;
        border-radius: 5px;
    }
    
    .car-container:nth-child(odd) {
        background-color: #add8e6;
    }
    
    .car-container:nth-child(even) {
        background-color: #778899;
    }
    
    .car h3 {
        color: white;
    }
    
    .info {
        position: absolute;
        top: 0px;
        width: 100%;
        color: #ffffff;
        padding: 5px;
        font-family: Monospace;
        font-size: 13px;
        text-align: center;
        z-index: 1000;
    }
    
    a {
        color: #ffffff;
    }
    
    #oldie a {
        color: #0b0
    }
