<!DOCTYPE html>
<html lang="en">

<head>
    <title>3D Music Visualizer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<script src="../js/lib/angular.min.js"></script>
<script src="../js/lib/angular-animate.min.js"></script>
<script src="../js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="../js/lib/three.min.js"></script>
<script src="../js/lib/Tween.min.js"></script>
<script src="../js/lib/dat.gui.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/controllers/main-controller.js"></script>
<script src="../js/audio/AudioManager.js"></script>
<script src="../js/animation/ParticleSystem.js"></script>
<script src="../js/animation/Scenes.js"></script>
<script src="../js/animation/VisualObjects.js"></script>
<script src="../js/animation/SceneManager.js"></script>
<script src="../js/animation/controls/PointerLockControls.js"></script>

<body ng-app="mainApp" ng-controller="MainController">
    <div id="visualControls" ng-show="isMusicScene()"> </div>
    <div id="container"></div>
    <div ng-show="isMusicScene()" id="controlPanel">
        <div id="tab"><a href="#" ng-click="toggleHide('controlPanel')"><i class="icon-menu"></i></a></div>
        <div id="playerControls">
            <select id="input" ng-model="dataService.currentSong" ng-options="item for item in musicList"></select>
            <button id="submit" ng-click="play()"> <i class="icon-play"></i></button>
            <audio id="player" controls="" preload="" autobuffer="" crossorigin="anonymous"></audio>
        </div>
    </div>
    <script>
    var renderer;
    var sceneManager;
    var clock = new THREE.Clock();
    var audioManager;

    init();
    animate();

    function initVisualControls() {
        var gui = new dat.GUI({
            autoPlace: false
        });
        var visualFolder = gui.addFolder('Visual controls');
        var musicScene = sceneManager.getScene("MusicScene");
        var visualizerParams = musicScene.visualizerParams;
        visualFolder.add(visualizerParams, 'decay').min(1.0).max(3.0).step(0.01).listen();
        visualFolder.add(visualizerParams, 'pulse', {
            on: true,
            off: false
        }).onChange(function(value) {
            musicScene.visualizerParams.pulse = (value == 'true');
        }).listen();

        visualFolder.add(visualizerParams, 'form', {
            Staff: 0,
            Heart: 1,
            Spiral: 2,
            Flower: 3,
            Fountain: 4
        }).onChange(function(value) {
            musicScene.transformVisual(value);
        }).listen();

        visualFolder.add(visualizerParams, 'randomize', {
            on: true,
            off: false
        }).onChange(function(value) {
            musicScene.visualizerParams.randomize = (value == 'true');
        }).listen();

        visualFolder.add(visualizerParams, 'randomizeIntervals').min(1).max(60).step(1).listen();

        visualFolder.open();

        var customContainer = document.getElementById('visualControls');
        customContainer.appendChild(gui.domElement);
    }

    function init() {
        sceneManager = new SceneManager();
        audioManager = new AudioManager();
        initVisualControls();

        var container = document.getElementById("container");

        renderer = new THREE.WebGLRenderer({
            antialias: true
        });
        renderer.setPixelRatio(window.devicePixelRatio);
        renderer.setSize(window.innerWidth, window.innerHeight);
        renderer.sortObjects = false;
        container.appendChild(renderer.domElement);

        window.addEventListener('resize', onWindowResize, false);

    }

    function onWindowResize(event) {
        var SCREEN_WIDTH = window.innerWidth;
        var SCREEN_HEIGHT = window.innerHeight;
        renderer.setSize(SCREEN_WIDTH, SCREEN_HEIGHT);
        sceneManager.resizeWindows(SCREEN_WIDTH, SCREEN_HEIGHT);
    }

    function animate() {
        requestAnimationFrame(animate);
        render();
        TWEEN.update();
    }

    function render() {
        sceneManager.render(clock.getDelta());
    }
    </script>
</body>

</html>
